{% extends "fagan_port/layout.html" %}
{% load static %}
{% block body %}

<div class="mt-5 page-title">
    <h1 class="text-center">Welcome to my Blog</h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="container blogs">
    <div class="row mt-3">
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
        <div class="mt-4 col-md-6 col-lg-4">
            <div class="img-div">
                <a href=""><img src="{% static 'fagan_port/images/pict.jpeg' %}" alt=""></a>
            </div>
            <p class="date">Sep 13, 2000</p>
            <h4 class="blog-text">This is my blog about lorem</h4>
        </div>
    </div>
</div>

<div style="margin-bottom: 35px;"></div>

{% endblock %}